* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    user-select: none;
    -webkit-user-select: none;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    top: 0;
    left: 0;
}

body {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.only-last > * {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.only-last > :not(:last-child) {
    transform: scale(0) !important;
}

